#about {
	padding: 6rem 8rem 8rem 8rem;
	font-family: 'PT Serif', serif;
}

#about h3, #about h4 {
	font-weight: 700;
}

#about h3 {
	font-size: 1.75rem;
}

#about h4 {
	font-size: 1.5rem;
}

.profile-picture {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;	
}

#about-content {
	font-family: 'Open Sans', sans-serif;
	width: 60%;
	margin: 0 auto;
	line-height: 1.5;
}

@media only screen and (max-width : 768px){
	#about-content {
		width: 80%;
	}
}

@media only screen and (max-width : 576px){
    #about {
		padding: 3rem 4rem 4rem 4rem;
	}

	#about-content {
		width: 100%;
	}

	#about h3 {
		font-size: 1.5rem;
	}
	
	#about h4 {
		font-size: 1.25rem;
	}
}