#footer {
    padding: 4rem 8rem 2rem 8rem;
    background-color: #212121;
    font-family: 'PT Serif', serif;
    font-size: 1.25rem;
    text-align: center;
    color: #fff;
}

#footer h4 {
    line-height: 1.5;
}

#footer .contact {
    display: inline-block;
    padding: 0.4em 0.75em;
    background: #F2C903;
    color: #fafaf9;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 2em;
    padding: 0.75rem 0.75rem;
}

#footer .contact:hover, #footer .contact:active{
    background: #E8BE03;
    text-decoration: none;
}

@media only screen and (max-width : 576px){
    #footer {
        padding: 4rem 4rem 2rem 4rem;
        font-size: 1rem;
    }
}